<h1 class="page-header">Welcome, <%= session[:username] %></h1>
<%= form_tag tracks_path, mhtml: { class: "form" } do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:track_name, nil ,placeholder: "Enter song name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>