<h1>Welcome, <%= @user.username %></h1>
<%= form_tag tracks_path, method: :get do %>
 <div>
   <%= text_field_tag(:track_name, nil ,placeholder: "Enter song name", class: "form-control") %>
 </div>
 <%= submit_tag "Search" %>
<% end %>