/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .nav.justify-content-end {
    display: inline-flex;
    float: right;
 }

 .nav {
    display: inline-flex;
 }

 #nav-container {
    height: 5%;
 }

 body {
     margin: 2%;
     /* background: linear-gradient(grey, blue);  */
 }

 #loginContainer {
     display: grid;
     grid-template-rows: 33% 33% 33%;
     grid-gap:2em;
     height: 50%;
     width:60%;
     margin-left:20%;
     margin-right:20%;
 }

 #loginContainer div {
     text-align: center;
 }

 #toiletImg {
     width: 50%;
     margin-left: 25%;
     margin-right: 25%;
 }

.submit {
     border-radius: 2em
 }

 .submit:hover {
     background-color: red;
 }